input {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  color: #333333;
  padding: 11px 12px 14px 12px;
  width: 100%;
  border-width: 1px;
  line-height: 1.25;
  border-radius: 3px;
  font-size: 14px;
}

span {
  color: red;
}
